.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.nomeSite{
  font-family: 'Bilbo Swash Caps', cursive;
  font-size: 120px;
  color: white;
  font-weight: bold;
}

.header{
  grid-area: 'header';
  background-color: purple;
}

.main{
  grid-area: 'main';
  height: 600px;
  background-image: url('./img/bg-bons-drinks.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.footer{
  grid-area: 'footer';
  background-color: pink;
}


.grid{
  display: grid;
  gap: 10px;
  grid-template-areas:
  "header"
  "main"
  "footer";
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
