.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.pagina-contatos-header{
  grid-area: 'header';
}

.pagina-contatos-main{
  grid-area: 'main';
}

.pagina-contatos-footer{
  grid-area: 'footer';
}


.pagina-contatos{
  display: grid;
  grid-template-areas:
  "header"
  "main"
  "footer";
  background-color: #fffdf8;
  grid-template-rows: 60px auto 40px;
  min-height: 100vh;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
